.recordDiv {
  border: none;
  max-width: 30%;
  position: relative;
  left: 800px;
  top: 10px;
}

table,
td,
th {
  border: 1px solid black;
  border-collapse: collapse;
  text-align: center;
  width: 500px;
}

th {
  background-color: antiquewhite;
}
